<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.css">

<script type="text/javascript" src="js/bootstrap.min.js"></script>

<head>
    <title>J社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>


<body>
<nav id="copy-section" class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only" >J社区</span>

            </button>
            <a class="navbar-brand" href="/">J社区</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

            </ul>

            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索问题">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>




            <ul class="nav navbar-nav navbar-right">



                <li >
                    <a href="/publish">发布问题</a>
                </li>

                <li th:if="${session.user==null}">
                    <a href="https://github.com/login/oauth/authorize?client_id=e8030320feea0161dd97&redirect_uri=http://localhost:8877/github/collback">登陆</a>
                </li>

                <li th:if="${session.user!=null}" class="dropdown">
                    <a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span th:text="${session.user.getLogin()}" ></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile">个人中心</a></li>
                        <li><a href="#">消息中心</a></li>

                        <li role="separator" class="divider"></li>
                        <li><a href="#">退出登陆</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

</body>
</html>