<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.css">

<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script src="js/jquery.form.min.js"></script>

<!--
markdown -> html
-->
<link rel="stylesheet" href="editor.md-master/css/editormd.preview.css" />
<script src="editor.md-master/editormd.js"></script>
<script src="editor.md-master/lib/marked.min.js"></script>
<script src="editor.md-master/lib/prettify.min.js"></script>

<head>

    <script th:inline="javascript">
        $(function() {

                    editormd.markdownToHTML("test-markdown-view", {});

        });
    </script>


    <style th:inline="css">
        .media-body{
            padding-top: 15px;
        }
        .creator{
            padding-top: 50px;
        }
        .comment{
            width: 70%;
            height: 100px;
        }

    </style>

    <script th:inline="javascript">
        function submit1() {
            var textarea = $("#comment").val()
            var userId = $("#questionId").val()


            var option = {
                url:"/putComment" ,
                dataType:"text",
                type:"post",
                data:{
                    'commentInfo':textarea,
                    'userId':userId
                },
                error:function () {
                    var usersession = [[${user1Id}]];
                    if (usersession==null){
                        alert("请先登陆")
                    }else {
                        alert("评论成功")
                    }

                }
            }
            $("#commentForm").ajaxSubmit(option)
        }
    </script>

    <title>J社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>

<nav th:insert="~{nav.html :: #copy-section}" ></nav>

<div class="container-fluid">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12">
            <input id="questionId" name="questionId" type="hidden" th:value="${question.id}">


                <h2 th:text="${question.title}"></h2>
            <span>
                发布于
                <span th:text="${question.lastPushTime}"></span>
                |  阅读数
                <span th:text="${question.viewCount}"></span>
                |  评论数
                <span th:text="${question.commentCount}"></span>
                |  推荐数
                <span th:text="${question.awesomeCount}"></span>
                        |

                <span th:if="${user1Id}==${question.userId}" class="glyphicon glyphicon-pencil" aria-hidden="true" ><a  th:href="@{/toUpdateQuestion(id=${question.id})}">edit</a></span>
            </span>

            <hr>
            <div class="col-lg-12 col-md-12 col-sm-12" id="test-markdown-view">

             <textarea  th:text="${question.description}" style="display:none;" name="description" id="description"   placeholder="问题补充……"></textarea>
            </div>

            </div>

        <div class="col-lg-3 col-md-12 col-sm-12">
            <h3 class="creator">发起人</h3>

            <div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object" width="60px" height="60px" th:src="@{${user.avatarUrl}}" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4  th:text="${user.login}" class="media-heading"></h4>
                    <h4 class="media-heading"><span class="label label-warning"><a>关注</a></span></h4>

                </div>
            </div>


        </div>

        <div   class="col-lg-12 col-md-12 col-sm-12">
            <div th:each="comment:${commentList}" >




            <hr>
            <tr >
                <div class="media">
                    <div  class="media-left media-middle">
                        <a href="#">
                            <img class="media-object" width="45px" height="45px" th:src="@{${comment.user.avatarUrl}}" alt="...">
                        </a>

                        <a th:text="${comment.user.login}"></a>
                    </div>
                    <div class="media-body">
                        <h5 th:text="${comment.commentInfo}"  class="media-heading"></h5>
                    </div>
                </div>
            </tr>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
            <hr>
            <tr>
                <h4>添加回复</h4>
                <br>
                <form id="commentForm" name="commentForm" method="post" action="#">

                <textarea id="comment" name="comment" class="comment" placeholder="请先登陆，否则无效"></textarea>
                <br>
                <input value="提交" type="submit" onclick="submit1()" class="btn btn-success btn-publish"></input>
                </form>
            </tr>

        </div>



    </div>
    </div>





</body>
</html>