<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.css">

<!--markdown editor-->
<script src="editor.md-master/editormd.js"></script>
<link rel="stylesheet" href="editor.md-master/css/editormd.css">

<script type="text/javascript" src="js/bootstrap.min.js"></script>

<head>

    <script th:inline="javascript">
        $(function() {
            var editor = editormd("test-editor", {
                width  : "100%",
                height : 300,
                path : "editor.md-master/lib/",
                watch:false,
                placeholder:"请评论..."
            });
        });
    </script>

    <title>J社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />



</head>
<body>
<nav th:insert="~{nav.html :: #copy-section}" ></nav>



<div class="container-fluid">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12">
            <h2><span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true" ></span>发起</h2>
            <hr>

            <form action="/updateQuestion"  method="post"  >



                <div class="form-group">



<!--                        <input type="text" class="form-control" placeholder="请输入下方显示数字" id="id" name="id" ></input>
                        <input type="hidden" class="form-control" th:text="${id}" id="id"name="id" placeholder="问题标题……">-->

                    <!--此处使用th：text无效-->
                    <input type="hidden" class="form-control" th:value="${id}" id="id"name="id" placeholder="问题标题……">

                    <br>

                    <label for="title">问题标题（简单扼要）:</label>
                    <input th:value="${question.title}" type="text" class="form-control" id="title" name="title" placeholder="问题标题……">
                </div>
                <div class="form-group">

                    <label for="description">问题补充 (必填，请参照右侧提示):</label>
                    <div id="test-editor">
                    <textarea th:text="${question.description}" name="description" id="description" class="form-control" cols="30"
                              rows="10" placeholder="问题补充……"></textarea></div>
                </div>

                <div class="form-group">
                    <label for="tag">添加标签:</label>
                    <input th:value="${question.tag}" type="text" class="form-control" id="tag" name="tag" placeholder="标签..以;分割">
                </div>
                <button type="submit" class="btn btn-success btn-publish">发布</button>

            </form>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12">
            <h3>问题发起指南</h3>
            • 问题标题: 请用精简的语言描述您发布的问题，不超过25字 <br>
            • 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料<br>
            • 选择标签: 选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字<br>
        </div>

    </div>



    <!-- Columns are always 50% wide, on mobile and desktop -->

</div>



</body>
</html>