<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.css">
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<head>
    <style th:inline="css">

    </style>
    <title>游客用户注册</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<nav th:insert="~{nav.html :: #copy-section}" ></nav>

<form id="visitor" method="post" action="/registeVisitor">

    <br>
    <br>
    <br>
    <hr>
    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">用户名</span>
        <input id="userName" name="userName" type="text" class="form-control" placeholder="请随意输入用户名，不为空" aria-describedby="sizing-addon1">
    </div>

    <div  th:if="${tip}">
        <span><p style="color: red">用户名已存在</p></span>
    </div>

    <br>
    <button style="margin-left: 370px" id="submit" type="submit" class="btn btn-success btn-publish">确定</button>
    <hr>
</form>
</body>
</html>