<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.junsir.community.community.Dao.CommentMapper">


    <resultMap id="BaseResultMap" type="com.junsir.community.community.model.Comment">
        <id column="comment_id" jdbcType="INTEGER" property="commentId" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="question_id" jdbcType="INTEGER" property="questionId" />
        <result column="comment_info" jdbcType="VARCHAR" property="commentInfo" />
    </resultMap>


    <select id="selectCommentByQuestionId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select *
        from comment
        where question_id = #{questionId,jdbcType=INTEGER}
    </select>




</mapper>